.content-section {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

/* Фоновое изображение (правая треть) */
.content-background {

    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.content-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Контентный блок (центрированный) */
.content-block {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 150px;
    background: var(--color-dark);
}
