@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-style: normal;
}

body {
    overflow-x: hidden;
    background-color: var(--color-medium-gray);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 100px;
}
h1,h2{
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}
a{
    text-decoration: none;
    color: var(--color-white);
}